.container_footer {
  background-color: #e4e5e9;
  padding: 50px 50px 50px 50px;
}

.icon_gamepad {
  width: 80px;
  margin-bottom: 20px;
}

.icons {
  width: 25px;
  margin: 20px 10px 0px 0px;
}

.container_columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_column-1 {
  display: flex;
  flex-direction: column;
}

.text_column-1 {
  color: #2b2c34;
  font-size: 18px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
}

.container_column-2 {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.container_lists {
  display: flex;
  flex-direction: column;
}

.title {
  color: #2b2c34;
  font-size: 20px;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  margin-top: 20px;
  color: #2b2c34;
  font-size: 18px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
}

.container_hr {
  display: flex;
  justify-content: center;
  margin: 50px 0px 20px 0px;
}

hr {
  width: 100%;
  border: 1px #c0c0c0 solid;
}

.container_thanks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text_thanks {
  color: #2b2c34;
  font-size: 14px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
}

@media screen and (max-width: 1260px) {
  .text_column-1,
  ul {
    font-size: 12px;
  }
  .title {
    font-size: 15px;
  }
}
