<div class="container_footer">
  <div class="container_columns">
    <div class="container_column-1">
      <img class="icon_gamepad" src="../../../assets/gamepad.svg" />
      <p class="text_column-1">Blog by Karime Linhares</p>
      <div class="container_icons">
        <img class="icons" src="../../../assets/linkedin.svg" />
        <img class="icons" src="../../../assets/instagram.svg" />
        <img class="icons" src="../../../assets/twitter.svg" />
      </div>
    </div>
    <div class="container_column-2">
      <div class="container_lists">
        <h1 class="title">Category</h1>
        <ul>
          Featured Article
        </ul>
        <ul>
          Angular
        </ul>
        <ul>
          How to
        </ul>
        <ul>
          Games
        </ul>
      </div>
      <div class="container_lists">
        <h1 class="title">About Me</h1>
        <ul>
          About Me
        </ul>
        <ul>
          Projects
        </ul>
        <ul>
          Achievement
        </ul>
      </div>
      <div class="container_lists">
        <h1 class="title">Get in Touch</h1>
        <ul>
          +55(xx)00000-0000
        </ul>
        <ul>
          demo@gmail.com
        </ul>
      </div>
      <div class="container_lists">
        <h1 class="title">Follow Us</h1>
        <ul>
          LinkedIn
        </ul>
        <ul>
          Instagram
        </ul>
        <ul>
          Twitter
        </ul>
      </div>
    </div>
  </div>
  <div class="container_hr">
    <hr />
  </div>
  <div class="container_thanks">
    <p class="text_thanks">© 2023 Karime</p>
    <p class="text_thanks">Made With ❤️ Fortaleza, Brazil</p>
  </div>
</div>
