<div class="container_category-card">
  <div class="title_category-card">
    <div class="title">
      <h1>{{ Title }}</h1>
      <img class="icon_article" src="../../../assets/Line.svg" />
    </div>
    <div class="title">
      <a class="title" [routerLink]="['notFound']">
        <h1>{{ More }}</h1>
        <img class="icon_article" src="../../../assets/Frame 286.svg" />
      </a>
    </div>
  </div>

  <div class="articles_container">
    <app-article-card
      Id="Games 1"
      PhotoCover="../../../assets/GameAwards.png"
      Title="All Winner's The Game Awards 2023"
    ></app-article-card>
    <app-article-card
      Id="Games 2"
      PhotoCover="../../../assets/Playstation5.png"
      Title="PS5 Most Anticipated Games of 2024"
    ></app-article-card>
    <app-article-card
      Id="Games 3"
      PhotoCover="../../../assets/PCGame.png"
      Title="Rumor: 2025 Call of Duty will be “semi-futuristic”"
    ></app-article-card>
    <app-article-card
      Id="Games 4"
      PhotoCover="../../../assets/GameBoy.png"
      Title="List of The Best Games for GameBoy"
    ></app-article-card>
  </div>
</div>
