<div class="container_category-card">
  <div class="title_category-card">
    <div class="title">
      <h1>{{ Title }}</h1>
      <img class="icon_article" src="../../../assets/Line.svg" />
    </div>
    <div class="title">
      <a class="title" [routerLink]="['notFound']">
        <h1>{{ More }}</h1>
        <img class="icon_article" src="../../../assets/Frame 286.svg" />
      </a>
    </div>
  </div>

  <div class="articles_container">
    <app-article-card
      Id="Article 1"
      PhotoCover="../../../assets/Article_Image.png"
      Title="Fundamental of angular"
    ></app-article-card>
    <app-article-card
      Id="Article 2"
      PhotoCover="../../../assets/Article_Image2.png"
      Title="CSS Make Your Life Easier"
    ></app-article-card>
    <app-article-card
      Id="Article 3"
      PhotoCover="../../../assets/Article_Image3.png"
      Title="How to do a Light and Dark Mode Toggle"
    ></app-article-card>
    <app-article-card
      Id="Article 4"
      PhotoCover="../../../assets/Article_Image4.png"
      Title="Getting Started with JavaScript"
    ></app-article-card>
  </div>
</div>
