<div class="container_category-card">
  <div class="title_category-card">
    <div class="title">
      <h1>{{ Title }}</h1>
      <img class="icon_article" src="../../../assets/Line.svg" />
    </div>

    <a class="title" [routerLink]="['notFound']">
      <h1>{{ More }}</h1>
      <img class="icon_article" src="../../../assets/Frame 286.svg" />
    </a>
  </div>
  <div class="container_content_category-card">
    <div class="content_category-card">
      <a [routerLink]="['content']">
        <img class="article_img" src="{{ PhotoCover1 }}" />
        <h5>{{ CardTitle1 }}</h5>
      </a>
      <div class="information_category-card">
        <img class="autor_pic" src="../../../assets/autor_pic.svg" />
        <div class="autor_info">
          <p class="name_category-card">Karime</p>
          <div class="post_info">
            <p class="date_category-card">Jan 01, 2024</p>
            <p class="date_category-card">•</p>
            <p class="date_category-card">3 MinRead</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content_category-card">
      <a [routerLink]="['content']">
        <img class="article_img" src="{{ PhotoCover2 }}" />
        <h5>{{ CardTitle2 }}</h5>
      </a>
      <div class="information_category-card">
        <img class="autor_pic" src="../../../assets/autor_pic.svg" />
        <div class="autor_info">
          <p class="name_category-card">Karime</p>
          <div class="post_info">
            <p class="date_category-card">Jan 01, 2024</p>
            <p class="date_category-card">•</p>
            <p class="date_category-card">3 MinRead</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content_category-card">
      <a [routerLink]="['content']">
        <img class="article_img" src="{{ PhotoCover3 }}" />
        <h5>{{ CardTitle3 }}</h5>
      </a>
      <div class="information_category-card">
        <img class="autor_pic" src="../../../assets/autor_pic.svg" />
        <div class="autor_info">
          <p class="name_category-card">Karime</p>
          <div class="post_info">
            <p class="date_category-card">Jan 01, 2024</p>
            <p class="date_category-card">•</p>
            <p class="date_category-card">3 MinRead</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content_category-card">
      <a [routerLink]="['content']">
        <img class="article_img" src="{{ PhotoCover4 }}" />
        <h5>{{ CardTitle4 }}</h5>
      </a>
      <div class="information_category-card">
        <img class="autor_pic" src="../../../assets/autor_pic.svg" />
        <div class="autor_info">
          <p class="name_category-card">Karime</p>
          <div class="post_info">
            <p class="date_category-card">Jan 01, 2024</p>
            <p class="date_category-card">•</p>
            <p class="date_category-card">3 MinRead</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
