<div class="container_category-card">
  <div class="title_category-card">
    <div class="title">
      <h1>{{ Title }}</h1>
      <img class="icon_article" src="../../../assets/Line.svg" />
    </div>
    <div class="title">
      <a class="title" [routerLink]="['notFound']">
        <h1>{{ More }}</h1>
        <img class="icon_article" src="../../../assets/Frame 286.svg" />
      </a>
    </div>
  </div>

  <div class="articles_container">
    <app-article-card
      Id="Tech 1"
      PhotoCover="../../../assets/cellphone.png"
      Title="Five reasons that will convince you to have an iPhone 15"
    ></app-article-card>
    <app-article-card
      Id="Tech 2"
      PhotoCover="../../../assets/AI.png"
      Title="Articul8 AI is the new artificial intelligence company launched by Intel"
    ></app-article-card>
    <app-article-card
      Id="Tech 3"
      PhotoCover="../../../assets/Cpu.png"
      Title="Benchmark reveals details of AMD Ryzen 5 8600G APUs"
    ></app-article-card>
    <app-article-card
      Id="Tech 4"
      PhotoCover="../../../assets/Gpu.png"
      Title="NVIDIA introduces RTX 5880 ADA GPU for workstations"
    ></app-article-card>
  </div>
</div>
