<app-big-card></app-big-card>
<app-category-card
  Title="Featured Article"
  More="See All Article"
  PhotoCover1="../../../assets/Article_Image.png"
  PhotoCover2="../../../assets/Css.png"
  PhotoCover3="../../../assets/Article_Image3.png"
  PhotoCover4="../../../assets/Article_Image4.png"
  CardTitle1="Fundamental of Angular"
  CardTitle2="CSS Make Your Life Easier"
  CardTitle3="How to do a Light and Dark Mode Toggle"
  CardTitle4="Getting Started with JavaScript"
></app-category-card>
<app-category-card
  Title="Technology"
  More="See All Article"
  PhotoCover1="../../../assets/cellphone.png"
  PhotoCover2="../../../assets/AI.png"
  PhotoCover3="../../../assets/Cpu.png"
  PhotoCover4="../../../assets/Gpu.png"
  CardTitle1="Five reasons that will convince you to have an iPhone 15"
  CardTitle2="Articul8 AI is the new artificial intelligence company launched by Intel"
  CardTitle3="Benchmark reveals details of AMD Ryzen 5 8600G APUs"
  CardTitle4="NVIDIA introduces RTX 5880 ADA GPU for workstations"
></app-category-card>
<app-category-card
  Title="Games"
  More="See All Article"
  PhotoCover1="../../../assets/GameAwards.png"
  PhotoCover2="../../../assets/Playstation5.png"
  PhotoCover3="../../../assets/PCGame.png"
  PhotoCover4="../../../assets/GameBoy.png"
  CardTitle1="All Winner's The Game Awards 2023"
  CardTitle2="PS5 Most Anticipated Games of 2024"
  CardTitle3="Rumor: 2025 Call of Duty will be “semi-futuristic”"
  CardTitle4="List of The Best Games for GameBoy"
></app-category-card>
