<div class="container_menubar">
  <img class="icon_gamepad" src="../../../assets/gamepad.svg" />
  <div class="container_menu-links">
    <a href="#" class="menu-links">Home</a>
    <a href="#" class="menu-links">Category</a>
    <a href="#" class="menu-links">About Me</a>
    <div href="#" class="container_search">
      <img src="../../../assets/search.svg" class="icon_search" />
      <a href="#" class="menu-links">Search</a>
    </div>
    <button class="button_coffee">
      <img src="../../../assets/coffee.svg" />
      buy Me a Coffee
    </button>
  </div>
</div>
