.container_big-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 100px 50px;
}

.container_text {
  width: 700px;
}

h1 {
  color: #2b2c34;
  font-size: 64px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

p {
  color: #9a9494;
  font-size: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 30px;
}

img {
  width: 350px;
}

@media screen and (max-width: 1030px) {
  p {
    font-size: 18px;
  }
}
